@model IEnumerable<BookStoreSystem.Areas.BookStoreAreas.ViewModels.ViewModel_BookInformation>

@{
    ViewBag.Title = "BookDetail";
}

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <p style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px"><span style="color:orangered">商品</span>簡介</p>
        <hr />
        <div class="row">
            <div>
                <div>
                    @foreach (var book in Model)
                    {
                        if (book.BytesImage1 != null)
                        {
                            <div class="col-lg-4 padFix bigimg imageback" style="margin:10px">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetBookImage1","Customer")" style="width:350px;height:350px" />
                                </span>
                            </div>
                        }
                        if (book.BytesImage2 != null)
                        {
                            <div class="col-lg-4 padFix bigimg imageback" style="margin:10px">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetBookImage2","Customer")" style="width:165px;height:165px" />
                                </span>
                            </div>
                        }
                        if (book.BytesImage3 != null)
                        {
                            <div class="col-lg-4 padFix bigimg imageback" style="margin:10px">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetBookImage3","Customer")" style="width:165px;height:165px" />
                                </span>
                            </div>
                        }
                        break;
                    }
                </div>
            </div>
            <div>
                <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;">@Html.DisplayFor(book => book.First().BookName)</p>
            </div>
        </div>
        <div>
            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;">@Html.DisplayFor(book => book.First().BookName)</p>
        </div>
        @*<div class="col-md-2" style="position:inherit">

            </div>*@
    </div>
    <div class="col-lg-2">

    </div>
</div>
